/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */
.slide{
    position:relative;
    display: inline-block;
    overflow: hidden;
}
.slide img{
    display: inline-block;
    vertical-align: middle;
  }
.slide-content{
     box-sizing: border-box;
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(225, 35, 69, 0.9);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
    /* z-index: 1; */
}

.slide:hover .slide-content{
    transform:translate(0,0);
}

.slide-top .slide-content{
    transform: translate(0,-100%);
}
.slide-right .slide-content{
    transform:translate(100%,0);
}
.slide-bottom .slide-content{
    transform: translate(0,100%);
}
.slide-left .slide-content{
    transform: translate(-100%,0);
}