/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */
html,body{
    height:100%;
    margin: 0;
}

.page-content{
    min-height: 100%;
    margin-bottom: -120px;
}
.page-content::after{
    display: block;
    content:"";
}
.footer,.page-content::after{
    height:120px;
}


  